.content
  .row
    .span8.title
      %img{src: '/img/breaking-bad-logo.png'}
      %br
      .trivia
        Chemistry Trivia Game
  .row
    &nbsp;
  .row
    .score.span4
      Score:
      %span.points
        0
      Points
    .span1
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://breakingbadtrivia.heroku.com/" data-text="Play Breaking Bad Chemistry Trivia Game.">Tweet</a>
    .span1
      <div class="fb-like" data-href="http://breakingbadtrivia.heroku.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  .row
    .span8
      %h2.cast
  .row
    .span1.guess
      Guess
    .span7
      %input{id: 'chemical-element', placeholder: 'Guess Chemical Element'}
  .row.result-row
    .span8
      .result.correct{style: 'display: none'}
        %img{src: "/img/correct.png"}
        You got it
      .result.incorrect{style: 'display: none'}
        %img{src: "/img/incorrect.png"}
        Wrong. Try Again OR
        %a{href: '#', id: 'pass-game'}
          Pass